.hero{
    padding-top: 129px;
    // padding-bottom: 250px;
    background-repeat: no-repeat;
    background-image: url(../../images/hero-left.svg);
     background-position: left 30%;
}
.hero_continer{
    display: flex;
    align-items: end;
    padding-bottom: 250px;
    background-repeat: no-repeat;
    background-image: url(../../images/bottom.svg);
    background-position: right bottom;
}
.hero_title{
    color: #FFF;
font-size: 100px;
font-weight: 700;
line-height: 100px; 
}
.hero_title_span{
    color: #F67E7E;
}
.hero_text{
    max-width: 445px;
    color: #FFF;
font-size: 18px;
font-weight: 600;
line-height: 28px; 

}
@media screen and (max-width:1148px) {
    .hero{
       
        background-image: none;

    }
    .hero_continer{
        flex-direction: column;
        text-align: center;
    }
    .hero_text{
        max-width: 457px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero_title{
        margin-left: auto;
        margin-right: auto;
        // font-size: 67px;
        margin-bottom: 24px;

    }
}
@media screen and (max-width:768px) {
    .hero_title{
        font-size: 64px;
        line-height: 56px;
    }
    .hero_text{
        font-size: 15px;
        line-height: 28px; 
    }
    .hero_continer{
        
        background-position: center bottom;
    }
}